page-about {
    ion-content{
   button{
       border-radius: $border;
       height: 70px;
   }
   .butt{
       margin-top: 60%;
       height: 50px;
       border-radius: $border;
   }
   
    }
   }
   