page-freeride {
    form {
        margin-bottom: 26px;
        height: 200px auto;
        background: white;
        padding: 15px;
        border-radius: $border;
        margin-top: 20px;
        animation-direction: alternate;
        animation-name: wiki;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        border: 1px solid color($colors, nav-border-bottom, base);
        button {
          margin-top: 20px !important;
        }
        .button{
          border: 1px solid color($colors, primary, base);
          padding: 10px;
          background: color($colors, primary, base);
          color: color($colors, light, base);
        }
      }
    
        
          p {
            font-size: 0.8em;
            color: #d2d2d2;
          }
        
          ion-label{
            text-align: center;
          }
        
          ion-input {
            padding: 6px;
            font-size: 1.3em;
          }
        
          .invalid {
            border: 1px solid #FF6153;
          }
        
          .error-message .item-inner {
            border-bottom: 0 !important;
          }
    }
    